source https://api.nuget.org/v3/index.json

storage: none
nuget Avalonia 11.3.12
nuget Avalonia.Desktop 11.3.12
nuget Avalonia.Fonts.Inter 11.3.12
nuget Avalonia.Themes.Fluent 11.3.12
nuget FSharp.Core content: none
nuget HanumanInstitute.LibMpv.Avalonia 0.9.1
nuget ini-parser-netstandard 2.5.3
nuget Microsoft.Win32.Registry 5.0.0